<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Chat</title>
</head>
<body>
    <h3>Write new chat</h3>
    <form action="/chats" method="POST">
        <input type="text" placeholder="Who are you?" name="from" required>
        <textarea name="msg">Write your message here</textarea>
        <input type="text" placeholder="Who are you sending to?" name="to" required>
        <button>Create chat</button>
    </form>
</body>
</html>